*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

html {
    background-image: url(./bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main {
    width: 400px;
    height: 500px;
    margin: 200px auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 30px #80b2c7;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

.namepass input {
    display: block;
    margin: 20px auto;
    padding: 15px 0;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 3px 2px 10px #c7c3c3 ;
}

.forgotpass a {
    text-decoration: none;
    color: #368dfc;
    font-weight: bold;
    font-family: Arial;
}

.forgotpass {
    text-align: center;
}

.bttn {
    text-align: center;
}

.log_sign {
    width: 80%;
    padding: 15px;
    margin: 20px 0;
    color: #ffffff;
    background-color: #0e64d1;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.account {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    /* margin-bottom: 25px; */
}

.account a {
    border: none;
    background-color: white;
    text-decoration: none;
    color: #2f89fc;
    font-size: 16px;
    font-weight: 500;
}
